.home-container {
    padding: 120px 0;
    padding-bottom: 60px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.55;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.home-container .home-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.home-container .info {
    line-height: 1.8;
}
.home-container .info h1 {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 900;
    font-size: 44px;
}
.home-container .left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.home-container .feature {
    display: flex;
    gap: 10px;
    /* align-items: center; */
}
.home-container .feature img {
    margin-top: 6px;
    height: 18px;
}
.home-container .light-blue {
    background-color: rgb(231, 245, 255);
    border-radius: 4px;
    padding: 2px 10px;
}


.home-container .right {
    width: 40%;
    display: flex;
    align-items: center;
    
}
.home-container .note {
    width: 100%;
    background: white;
    /* border-bottom: 1px solid #0d6efd; */
    border-radius: 6px;
}

.home-container .note-box {
    /* margin: auto; */
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.home-container .note-box .note-item {
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.home-container .note-box input {
    height: 44px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
    text-align: start;
    /* border: solid 1px red; */
}

.home-container .note-box input:focus {
    background-color: transparent;
    border: none;
}
.home-container .note-box .note-item input {
    /* padding: 12px 0; */
    margin: 0;
    min-height: 40px;
    height: auto;
}
.home-container .note-box .note-item #title {
    font-size: 16px;
    font-weight: 500;
}
.home-container .note-box .note-item #description {
    font-size: 15px;
    font-weight: 400;
}
.home-container .note-box .note-item button {
    align-self: self-end;
    margin: 0;    
}

@media screen and (max-width: 768px) {
    .home-container {
        padding-top: 100px;
    }
    .home-container .home-wrapper {
        flex-direction: column-reverse;
        row-gap: 50px;
    }
    .home-container .info h1 {
        font-weight: 800;
        font-size: 28px;
        line-height: 1.4;
    }
    .home-container .right {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #0d6efd;
    }
    .home-container .note h2  {
        font-size: 32px;
    }
    .home-container .note {
        width: 100%;
        /* border: 1px solid red; */
    }
}